discord.py
aiohttp
websockets
chardet
PyInstaller
PyNaCl
PyYAML
Unidecode
appdirs
attrs
beautifulsoup4
certifi
cffi
chardet
colorama
discordbot.py
ffmpeg
ffprobe
ffprobe3
future
geojson
idna
logzero
lyrycwikia
multidict
mutagen
numpy
pafy
pathlib
pefile
pip
psutil
pypcparser
pyowm
pywin32-ctypes
random2
requests
setuptools
six
soupsieve
spotdl
spotipy
titlecase
unicode-slugify
urllib3
yarl
youtube-dl